data/full-videos
data/audio
data/faceframes
data/manual-transcripts
data/ffmpeg-frame-features
data/ffmpeg-keyframes
data/ffmpeg-keyframes-by-scene
data/bbt-vids
data/moviesumm-videos
data/video_scenes
data/faceframes
torrented-vids
cleaned-torrented-vids
failed-torrented-vids
torrented-vids
AlignScore/
data/before_tried_to_fix_to_linelist_transcripts
InternVideo/
